{
    "openapi": "3.0.0",
    "info": {
        "title": "Mujeza API",
        "description": "API documentation for Mujeza — products, orders, complaints, and WhatsApp integrations. Order statuses: طلب جديد، تم التأكيد، قيد التجهيز، خرج للتوصيل، مكتمل، ملغي.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://app.taheelplus.com",
            "description": "Production API server"
        },
        {
            "url": "http://127.0.0.1:8000",
            "description": "Local development server"
        }
    ],
    "paths": {
        "/api/products": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Get products list",
                "description": "Returns all products in one response. Each item includes is_available (متاح).",
                "operationId": "getProducts",
                "responses": {
                    "200": {
                        "description": "Products fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductListResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/products/search": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Search products by name",
                "description": "Searches products using product title or description (partial match). Each item includes is_available (متاح).",
                "operationId": "searchProductsByName",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Product name to search for (optional if search is provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "سدر"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Alias for name query parameter",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "سدر"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Products search completed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductSearchResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/products/search-by-disease": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Search recommended products by disease name",
                "description": "Returns available products that are recommended for a given disease. The search is partial and case-insensitive — sending \"سكر\" will match \"مرض السكري\" etc.",
                "operationId": "searchProductsByDisease",
                "parameters": [
                    {
                        "name": "disease",
                        "in": "query",
                        "description": "Disease name to search for (partial match)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "السكري"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Products fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductSearchByDiseaseResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "حقل disease مطلوب",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/branches": {
            "get": {
                "tags": [
                    "Branches"
                ],
                "summary": "Get branches list",
                "description": "Returns all branches in one response.",
                "operationId": "getBranches",
                "responses": {
                    "200": {
                        "description": "Branches fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/complaints": {
            "get": {
                "tags": [
                    "Complaints"
                ],
                "summary": "Get complaints list",
                "description": "Returns complaints list with optional text search in title, description, or remote_jid.",
                "operationId": "getComplaints",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Search query (optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "تأخير الطلب"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Complaints fetched successfully"
                    }
                }
            },
            "post": {
                "tags": [
                    "Complaints"
                ],
                "summary": "Create complaint",
                "operationId": "storeComplaint",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "description"
                                ],
                                "properties": {
                                    "remote_jid": {
                                        "type": "string",
                                        "example": "96550000000@s.whatsapp.net",
                                        "nullable": true
                                    },
                                    "title": {
                                        "type": "string",
                                        "example": "استفسار عن المنتج"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "أريد معرفة طريقة الاستخدام المناسبة."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Complaint created successfully"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/complaints/{id}": {
            "get": {
                "tags": [
                    "Complaints"
                ],
                "summary": "Get a single complaint/inquiry",
                "operationId": "showComplaint",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Complaint fetched successfully"
                    }
                }
            },
            "put": {
                "tags": [
                    "Complaints"
                ],
                "summary": "Update complaint",
                "operationId": "updateComplaint",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "description"
                                ],
                                "properties": {
                                    "remote_jid": {
                                        "type": "string",
                                        "example": "96550000000@s.whatsapp.net",
                                        "nullable": true
                                    },
                                    "title": {
                                        "type": "string",
                                        "example": "شكوى عن تأخر الرد"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "لم يصلني رد حتى الآن."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Complaint updated successfully"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Complaints"
                ],
                "summary": "Delete complaint or inquiry",
                "operationId": "deleteComplaint",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Complaint deleted successfully"
                    }
                }
            }
        },
        "/api/orders": {
            "post": {
                "tags": [
                    "Orders"
                ],
                "summary": "Create order",
                "description": "إنشاء طلب جديد. المنتجات عبر items_id و items_qty (نص مفصول بفواصل أو مصفوفة). مثال: items_id=12,5,8 و items_qty=2,1,4",
                "operationId": "storeOrder",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OrderCreateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Order created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrderMutationResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/orders/{order_number}": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Get order by order number",
                "operationId": "showOrder",
                "parameters": [
                    {
                        "name": "order_number",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Order fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrderShowResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Order not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Orders"
                ],
                "summary": "Update order",
                "description": "تحديث الطلب. عند إرسال items_id و items_qty تُستبدل المنتجات المربوطة بالكامل (مثال: items_id=12,5 و items_qty=2,1).",
                "operationId": "updateOrder",
                "parameters": [
                    {
                        "name": "order_number",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OrderUpdateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Order updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrderMutationResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Order not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/orders/status": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Get order status",
                "description": "Returns latest order status and all matching orders by order_number, customer_name, or phone. When searching by phone, cancelled (\"ملغي\") and completed (\"مكتمل\") orders are excluded by default — pass include_closed=1 to include them.",
                "operationId": "getOrderStatusByPhone",
                "parameters": [
                    {
                        "name": "order_number",
                        "in": "query",
                        "description": "Order number (preferred)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1024
                        }
                    },
                    {
                        "name": "customer_name",
                        "in": "query",
                        "description": "Customer name",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "محمد أحمد"
                        }
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "Customer phone number",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "96550000000"
                        }
                    },
                    {
                        "name": "include_closed",
                        "in": "query",
                        "description": "Set to 1 to include cancelled (ملغي) and completed (مكتمل) orders (only applies to phone search)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 0,
                            "enum": [
                                0,
                                1
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Order status fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrderStatusSearchResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error — provide order_number, customer_name, or phone",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/orders/by-phone": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Get active orders by phone number",
                "description": "Returns all orders for the given phone number, excluding cancelled (\"ملغي\") and completed (\"مكتمل\") orders.",
                "operationId": "getOrdersByPhone",
                "parameters": [
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "Customer phone number",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "96550000000"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Orders fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrdersByPhoneResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "حقل phone مطلوب",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/agent/prompts": {
            "get": {
                "tags": [
                    "AI Agent"
                ],
                "summary": "Get AI Agent prompts",
                "description": "Returns Positive Prompt and Negative Prompt saved in system settings.",
                "operationId": "getAgentPrompts",
                "responses": {
                    "200": {
                        "description": "Agent prompts fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "positive_prompt": {
                                                    "type": "string",
                                                    "example": "كن ودودًا وركز على احتياج العميل",
                                                    "nullable": true
                                                },
                                                "negative_prompt": {
                                                    "type": "string",
                                                    "example": "لا تقدم وعودًا غير واقعية",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/faqs": {
            "get": {
                "tags": [
                    "FAQs"
                ],
                "summary": "Get active FAQs list",
                "description": "Returns all active frequently asked questions ordered by sort_order.",
                "operationId": "getFaqs",
                "responses": {
                    "200": {
                        "description": "FAQs fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "question": {
                                                        "type": "string",
                                                        "example": "ما هي فوائد عسل السدر؟"
                                                    },
                                                    "answer": {
                                                        "type": "string",
                                                        "example": "عسل السدر غني بالمعادن والفيتامينات..."
                                                    },
                                                    "sort_order": {
                                                        "type": "integer",
                                                        "example": 0
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/faqs/text": {
            "get": {
                "tags": [
                    "FAQs"
                ],
                "summary": "Get all active FAQs as a single text block",
                "description": "Returns all active FAQs combined into one text string — questions and answers concatenated together, useful for AI agents and prompts.",
                "operationId": "getFaqsAsText",
                "responses": {
                    "200": {
                        "description": "FAQs text fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "string",
                                            "example": "س: ما هي فوائد عسل السدر؟\nج: عسل السدر غني بالمعادن والفيتامينات ويُقوّي جهاز المناعة.\n\nس: هل يمكن تناوله يومياً؟\nج: نعم، ملعقة كبيرة صباحاً على الريق."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/customers/check": {
            "post": {
                "tags": [
                    "Customers"
                ],
                "summary": "التحقق من تسجيل عميل بالهاتف أو remoteJid",
                "description": "يتحقق إذا كان العميل مسجلاً. أرسل phone أو remote_jid في body (أحدهما على الأقل).",
                "operationId": "checkCustomer",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CustomerCheckRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "نتيجة التحقق — registered: true مع بيانات العميل، أو registered: false مع رسالة",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/CustomerCheckRegisteredResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/CustomerCheckUnregisteredResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "يجب إرسال phone أو remote_jid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/customers/check-and-save": {
            "post": {
                "tags": [
                    "Customers"
                ],
                "summary": "تحقق وسجّل تلقائياً بالـ remoteJid",
                "description": "يبحث عن العميل بـ remote_jid في body. إذا وُجد يُرجع registered: true (ويُحدَّث الاسم إن أُرسل name). إذا لم يُوجد يُسجّله تلقائياً ويُرجع registered: false و newly_created: true.",
                "operationId": "checkAndSaveCustomer",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CustomerCheckAndSaveRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "نتيجة التحقق والحفظ مع بيانات العميل بما فيها name",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomerCheckAndSaveResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "حقل remote_jid مطلوب",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/customers/auto-reply/global": {
            "patch": {
                "tags": [
                    "Customers"
                ],
                "summary": "تغيير الإعداد العام للرد التلقائي",
                "description": "يُفعّل أو يُوقف الرد التلقائي على مستوى النظام لجميع المحادثات التي ليس لها override خاص.",
                "operationId": "updateGlobalCustomerAutoReply",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AutoReplyToggleRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "تم تحديث الإعداد العام",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GlobalAutoReplyResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/customers/auto-reply": {
            "patch": {
                "tags": [
                    "Customers"
                ],
                "summary": "تغيير الرد التلقائي لعميل بـ remoteJid",
                "description": "يُحدّد override للرد التلقائي لهذه المحادثة. أرسل remote_jid و enabled في body. إذا كانت enabled مطابقة للإعداد العام يُزال الـ override.",
                "operationId": "updateCustomerAutoReply",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CustomerAutoReplyRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "تم تحديث الرد التلقائي للعميل",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomerAutoReplyResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Customer not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/customers": {
            "get": {
                "tags": [
                    "Customers"
                ],
                "summary": "Get customers list",
                "description": "Returns all customers. Supports optional search by name, phone, address, or remoteJid.",
                "operationId": "getCustomers",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Search query (optional) — searches name, phone, address, remote_jid",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "محمد"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Customers fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomerListResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Customers"
                ],
                "summary": "Create a new customer",
                "description": "remoteJid is the primary key and cannot be changed after creation. Phone is optional.",
                "operationId": "storeCustomer",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "remote_jid",
                                    "name"
                                ],
                                "properties": {
                                    "remote_jid": {
                                        "type": "string",
                                        "example": "96550000000@s.whatsapp.net"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "96550000000",
                                        "nullable": true
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "محمد أحمد"
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "القاهرة - مدينة نصر",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Customer created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomerMutationResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error — remote_jid already exists or missing required fields",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/customers/{remote_jid}": {
            "get": {
                "tags": [
                    "Customers"
                ],
                "summary": "Get a single customer by remoteJid",
                "operationId": "showCustomer",
                "parameters": [
                    {
                        "name": "remote_jid",
                        "in": "path",
                        "description": "Customer remoteJid (primary key)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "96550000000@s.whatsapp.net"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Customer fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomerShowResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Customer not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Customers"
                ],
                "summary": "Update customer data",
                "description": "remoteJid is fixed and cannot be changed. Phone, name, and address can be updated.",
                "operationId": "updateCustomer",
                "parameters": [
                    {
                        "name": "remote_jid",
                        "in": "path",
                        "description": "Customer remoteJid (primary key)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "96550000000@s.whatsapp.net"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "phone": {
                                        "type": "string",
                                        "example": "96550000000",
                                        "nullable": true
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "محمد أحمد محدث"
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "الإسكندرية - سيدي بشر",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Customer updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomerMutationResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Customer not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Customers"
                ],
                "summary": "Delete a customer",
                "operationId": "deleteCustomer",
                "parameters": [
                    {
                        "name": "remote_jid",
                        "in": "path",
                        "description": "Customer remoteJid (primary key)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "96550000000@s.whatsapp.net"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Customer deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم حذف المستخدم بنجاح."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Customer not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/whatsapp/auto-reply/numbers": {
            "get": {
                "tags": [
                    "WhatsApp"
                ],
                "summary": "Get chats numbers with auto-reply state",
                "description": "Returns chats list (number/name) and whether auto-reply is allowed per chat, plus global toggle state.",
                "operationId": "whatsappAutoReplyNumbers",
                "responses": {
                    "200": {
                        "description": "Auto-reply numbers list fetched successfully"
                    },
                    "422": {
                        "description": "Evolution API is not configured"
                    }
                }
            }
        },
        "/whatsapp/auto-reply/number-status": {
            "get": {
                "tags": [
                    "WhatsApp"
                ],
                "summary": "Get auto-reply status for single chat/phone",
                "description": "Checks whether auto-reply is allowed for a specific chat_id or phone, considering global + override values.",
                "operationId": "whatsappAutoReplyNumberStatus",
                "parameters": [
                    {
                        "name": "chat_id",
                        "in": "query",
                        "description": "WhatsApp chat JID (optional if phone is provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "201011223344@s.whatsapp.net"
                        }
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "Phone number in local or international format (optional if chat_id is provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "201011223344"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Auto-reply status evaluated successfully"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/whatsapp/auto-reply/settings": {
            "get": {
                "tags": [
                    "WhatsApp"
                ],
                "summary": "Get global auto-reply setting",
                "operationId": "whatsappAutoReplySettings",
                "responses": {
                    "200": {
                        "description": "Global auto-reply setting fetched successfully"
                    }
                }
            }
        },
        "/whatsapp/auto-reply/global": {
            "post": {
                "tags": [
                    "WhatsApp"
                ],
                "summary": "Enable or disable global auto-reply",
                "operationId": "whatsappUpdateGlobalAutoReply",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "enabled"
                                ],
                                "properties": {
                                    "enabled": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Global auto-reply updated successfully"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/whatsapp/auto-reply/chat": {
            "post": {
                "tags": [
                    "WhatsApp"
                ],
                "summary": "Enable or disable auto-reply for specific chat",
                "operationId": "whatsappUpdateChatAutoReply",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "chat_id",
                                    "enabled"
                                ],
                                "properties": {
                                    "chat_id": {
                                        "type": "string",
                                        "example": "201011223344@s.whatsapp.net"
                                    },
                                    "enabled": {
                                        "type": "boolean",
                                        "example": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Per-chat auto-reply override updated successfully"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Customer": {
                "properties": {
                    "remote_jid": {
                        "type": "string",
                        "example": "96550000000@s.whatsapp.net"
                    },
                    "phone": {
                        "type": "string",
                        "example": "96550000000",
                        "nullable": true
                    },
                    "name": {
                        "type": "string",
                        "example": "محمد أحمد",
                        "nullable": true
                    },
                    "address": {
                        "type": "string",
                        "example": "الكويت - حولي",
                        "nullable": true
                    },
                    "auto_reply": {
                        "type": "boolean",
                        "example": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "CustomerWithoutName": {
                "description": "بيانات عميل بدون حقل name (legacy)",
                "properties": {
                    "remote_jid": {
                        "type": "string",
                        "example": "96550000000@s.whatsapp.net"
                    },
                    "phone": {
                        "type": "string",
                        "example": null,
                        "nullable": true
                    },
                    "address": {
                        "type": "string",
                        "nullable": true
                    },
                    "auto_reply": {
                        "type": "boolean",
                        "example": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "CustomerOrderSummary": {
                "properties": {
                    "order_number": {
                        "type": "integer",
                        "example": 1024
                    },
                    "status": {
                        "$ref": "#/components/schemas/OrderStatus"
                    },
                    "items": {
                        "description": "ملخّص نصي للمنتجات (يُولَّد من line_items عند الربط)",
                        "type": "string",
                        "example": "#12 عسل سدر x2"
                    }
                },
                "type": "object"
            },
            "CustomerComplaintSummary": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "title": {
                        "type": "string",
                        "example": "تأخر التوصيل"
                    },
                    "status": {
                        "type": "string",
                        "example": "مفتوحة"
                    }
                },
                "type": "object"
            },
            "CustomerCheckRegisteredResponse": {
                "properties": {
                    "registered": {
                        "type": "boolean",
                        "example": true
                    },
                    "remote_jid": {
                        "type": "string",
                        "example": "96550000000@s.whatsapp.net"
                    },
                    "phone": {
                        "type": "string",
                        "example": "96550000000",
                        "nullable": true
                    },
                    "name": {
                        "type": "string",
                        "example": "محمد أحمد",
                        "nullable": true
                    },
                    "address": {
                        "type": "string",
                        "nullable": true
                    },
                    "auto_reply": {
                        "type": "boolean",
                        "example": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "CustomerCheckRequest": {
                "properties": {
                    "phone": {
                        "description": "أرسل phone أو remote_jid (أحدهما على الأقل)",
                        "type": "string",
                        "example": "96550000000",
                        "nullable": true
                    },
                    "remote_jid": {
                        "type": "string",
                        "example": "96550000000@s.whatsapp.net",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "CustomerCheckAndSaveRequest": {
                "required": [
                    "remote_jid"
                ],
                "properties": {
                    "remote_jid": {
                        "type": "string",
                        "example": "96550000000@s.whatsapp.net"
                    },
                    "name": {
                        "description": "اسم العميل — يُحفظ عند الإنشاء أو يُحدَّث إن وُجد العميل مسبقاً",
                        "type": "string",
                        "example": "محمد أحمد",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "CustomerCheckUnregisteredResponse": {
                "properties": {
                    "registered": {
                        "type": "boolean",
                        "example": false
                    },
                    "message": {
                        "type": "string",
                        "example": "هذا الرقم غير مسجل."
                    }
                },
                "type": "object"
            },
            "CustomerCheckAndSaveResponse": {
                "description": "registered: true إذا كان مسجلاً مسبقاً، false إذا تم إنشاؤه الآن.",
                "properties": {
                    "registered": {
                        "type": "boolean",
                        "example": true
                    },
                    "newly_created": {
                        "type": "boolean",
                        "example": false
                    },
                    "global_auto_reply": {
                        "description": "الإعداد العام للرد التلقائي على مستوى النظام",
                        "type": "boolean",
                        "example": true
                    },
                    "remote_jid": {
                        "type": "string",
                        "example": "96550000000@s.whatsapp.net"
                    },
                    "phone": {
                        "type": "string",
                        "example": null,
                        "nullable": true
                    },
                    "name": {
                        "type": "string",
                        "example": "محمد أحمد",
                        "nullable": true
                    },
                    "address": {
                        "type": "string",
                        "nullable": true
                    },
                    "auto_reply": {
                        "description": "الرد التلقائي الفعلي لهذه المحادثة (بعد تطبيق override إن وُجد)",
                        "type": "boolean",
                        "example": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "orders": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CustomerOrderSummary"
                        }
                    },
                    "complaints": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CustomerComplaintSummary"
                        }
                    }
                },
                "type": "object"
            },
            "CustomerListResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "query": {
                        "type": "string",
                        "example": ""
                    },
                    "count": {
                        "type": "integer",
                        "example": 5
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Customer"
                        }
                    }
                },
                "type": "object"
            },
            "CustomerShowResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "data": {
                        "$ref": "#/components/schemas/Customer"
                    }
                },
                "type": "object"
            },
            "AutoReplyToggleRequest": {
                "required": [
                    "enabled"
                ],
                "properties": {
                    "enabled": {
                        "description": "true = تفعيل الرد التلقائي، false = إيقافه",
                        "type": "boolean",
                        "example": true
                    }
                },
                "type": "object"
            },
            "CustomerAutoReplyRequest": {
                "required": [
                    "remote_jid",
                    "enabled"
                ],
                "properties": {
                    "remote_jid": {
                        "type": "string",
                        "example": "96550000000@s.whatsapp.net"
                    },
                    "enabled": {
                        "description": "true = تفعيل الرد التلقائي، false = إيقافه",
                        "type": "boolean",
                        "example": false
                    }
                },
                "type": "object"
            },
            "GlobalAutoReplyResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "message": {
                        "type": "string",
                        "example": "تم تحديث الإعداد العام للرد التلقائي."
                    },
                    "global_auto_reply": {
                        "type": "boolean",
                        "example": true
                    }
                },
                "type": "object"
            },
            "CustomerAutoReplyResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "message": {
                        "type": "string",
                        "example": "تم تحديث الرد التلقائي للعميل."
                    },
                    "remote_jid": {
                        "type": "string",
                        "example": "96550000000@s.whatsapp.net"
                    },
                    "global_auto_reply": {
                        "type": "boolean",
                        "example": true
                    },
                    "auto_reply": {
                        "type": "boolean",
                        "example": false
                    },
                    "auto_reply_overridden": {
                        "description": "true إذا كانت القيمة مختلفة عن الإعداد العام",
                        "type": "boolean",
                        "example": true
                    }
                },
                "type": "object"
            },
            "CustomerMutationResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "message": {
                        "type": "string",
                        "example": "تم إضافة المستخدم بنجاح."
                    },
                    "data": {
                        "$ref": "#/components/schemas/Customer"
                    }
                },
                "type": "object"
            },
            "OrderStatus": {
                "type": "string",
                "example": "طلب جديد",
                "enum": [
                    "طلب جديد",
                    "تم التأكيد",
                    "قيد التجهيز",
                    "خرج للتوصيل",
                    "مكتمل",
                    "ملغي"
                ]
            },
            "OrderCreateRequest": {
                "required": [
                    "items_id",
                    "items_qty"
                ],
                "properties": {
                    "remote_jid": {
                        "description": "يُستخدم لجلب اسم العميل والهاتف والعنوان تلقائياً إن وُجد في customers",
                        "type": "string",
                        "example": "96550000000@s.whatsapp.net",
                        "nullable": true
                    },
                    "customer_name": {
                        "type": "string",
                        "example": "محمد أحمد",
                        "nullable": true
                    },
                    "phone": {
                        "type": "string",
                        "example": "96550000000",
                        "nullable": true
                    },
                    "delivery_address": {
                        "type": "string",
                        "example": "الكويت - حولي - شارع بيروت",
                        "nullable": true
                    },
                    "delivery_fee": {
                        "type": "number",
                        "format": "float",
                        "example": 1.5,
                        "nullable": true
                    },
                    "status": {
                        "$ref": "#/components/schemas/OrderStatus"
                    },
                    "items_id": {
                        "description": "معرّفات المنتجات — نص مفصول بفواصل أو مصفوفة أرقام. الموضع يطابق items_qty",
                        "oneOf": [
                            {
                                "type": "string",
                                "example": "12,5,8"
                            },
                            {
                                "type": "array",
                                "items": {
                                    "type": "integer"
                                },
                                "example": [
                                    12,
                                    5,
                                    8
                                ]
                            }
                        ]
                    },
                    "items_qty": {
                        "description": "كميات المنتجات — نص مفصول بفواصل أو مصفوفة أرقام بنفس ترتيب items_id",
                        "oneOf": [
                            {
                                "type": "string",
                                "example": "2,1,4"
                            },
                            {
                                "type": "array",
                                "items": {
                                    "type": "integer"
                                },
                                "example": [
                                    2,
                                    1,
                                    4
                                ]
                            }
                        ]
                    }
                },
                "type": "object",
                "example": {
                    "remote_jid": "96550000000@s.whatsapp.net",
                    "delivery_address": "الكويت - حولي",
                    "delivery_fee": 1.5,
                    "status": "طلب جديد",
                    "items_id": "12,5,8",
                    "items_qty": "2,1,4"
                }
            },
            "OrderUpdateRequest": {
                "properties": {
                    "status": {
                        "$ref": "#/components/schemas/OrderStatus"
                    },
                    "delivery_address": {
                        "type": "string",
                        "nullable": true
                    },
                    "delivery_fee": {
                        "type": "number",
                        "format": "float",
                        "example": 1.5
                    },
                    "items_id": {
                        "description": "معرّفات المنتجات (يُرسل مع items_qty لاستبدال بنود الطلب)",
                        "oneOf": [
                            {
                                "type": "string",
                                "example": "12,5"
                            },
                            {
                                "type": "array",
                                "items": {
                                    "type": "integer"
                                }
                            }
                        ]
                    },
                    "items_qty": {
                        "description": "كميات المنتجات المقابلة لـ items_id",
                        "oneOf": [
                            {
                                "type": "string",
                                "example": "2,1"
                            },
                            {
                                "type": "array",
                                "items": {
                                    "type": "integer"
                                }
                            }
                        ]
                    },
                    "status_note": {
                        "description": "تُسجَّل في سجل الحالات عند تغيير status",
                        "type": "string",
                        "nullable": true
                    }
                },
                "type": "object",
                "example": {
                    "status": "تم التأكيد",
                    "items_id": "12,5",
                    "items_qty": "3,1"
                }
            },
            "OrderLineItem": {
                "required": [
                    "product_id",
                    "product_title",
                    "unit_price",
                    "quantity",
                    "line_total"
                ],
                "properties": {
                    "product_id": {
                        "description": "معرّف المنتج المربوط",
                        "type": "integer",
                        "example": 12
                    },
                    "product_title": {
                        "type": "string",
                        "example": "عسل سدر"
                    },
                    "unit_price": {
                        "description": "سعر الوحدة (يُستخدم سعر الخصم إن وُجد)",
                        "type": "number",
                        "format": "float",
                        "example": 5.5
                    },
                    "quantity": {
                        "type": "integer",
                        "example": 2
                    },
                    "line_total": {
                        "type": "number",
                        "format": "float",
                        "example": 11
                    }
                },
                "type": "object"
            },
            "OrderStatusHistoryEntry": {
                "properties": {
                    "status": {
                        "$ref": "#/components/schemas/OrderStatus"
                    },
                    "note": {
                        "type": "string",
                        "example": "إنشاء الطلب عبر API",
                        "nullable": true
                    },
                    "changed_by": {
                        "type": "string",
                        "example": "api",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "Order": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "order_number": {
                        "type": "integer",
                        "example": 1024
                    },
                    "remote_jid": {
                        "type": "string",
                        "example": "96550000000@s.whatsapp.net",
                        "nullable": true
                    },
                    "customer_name": {
                        "type": "string",
                        "example": "محمد أحمد",
                        "nullable": true
                    },
                    "phone": {
                        "type": "string",
                        "example": "96550000000",
                        "nullable": true
                    },
                    "delivery_address": {
                        "type": "string",
                        "example": "الكويت - حولي",
                        "nullable": true
                    },
                    "status": {
                        "$ref": "#/components/schemas/OrderStatus"
                    },
                    "available_statuses": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/OrderStatus"
                        }
                    },
                    "status_changed_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "subtotal": {
                        "description": "مجموع بنود المنتجات",
                        "type": "number",
                        "format": "float",
                        "example": 11
                    },
                    "delivery_fee": {
                        "type": "number",
                        "format": "float",
                        "example": 1.5
                    },
                    "grand_total": {
                        "description": "subtotal + delivery_fee",
                        "type": "number",
                        "format": "float",
                        "example": 12.5
                    },
                    "total_amount": {
                        "description": "مطابق لـ grand_total",
                        "type": "number",
                        "format": "float",
                        "example": 12.5
                    },
                    "items": {
                        "description": "ملخّص نصي يُولَّد تلقائياً من line_items",
                        "type": "string",
                        "example": "#12 عسل سدر x2 + #5 عسل كشميري x1"
                    },
                    "line_items": {
                        "description": "المنتجات المربوطة بالطلب (المصدر الرئيسي)",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/OrderLineItem"
                        }
                    },
                    "status_history": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/OrderStatusHistoryEntry"
                        }
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "OrderMutationResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "message": {
                        "type": "string",
                        "example": "تم إنشاء الطلب بنجاح."
                    },
                    "data": {
                        "$ref": "#/components/schemas/Order"
                    }
                },
                "type": "object"
            },
            "OrderShowResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "data": {
                        "$ref": "#/components/schemas/Order"
                    }
                },
                "type": "object"
            },
            "OrderStatusSearchResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "found": {
                        "type": "boolean",
                        "example": true
                    },
                    "latest_status": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/OrderStatus"
                            }
                        ],
                        "nullable": true
                    },
                    "count": {
                        "type": "integer",
                        "example": 2
                    },
                    "latest_order": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/Order"
                            }
                        ],
                        "nullable": true
                    },
                    "orders": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Order"
                        }
                    }
                },
                "type": "object"
            },
            "OrdersByPhoneResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "phone": {
                        "type": "string",
                        "example": "96550000000"
                    },
                    "count": {
                        "type": "integer",
                        "example": 2
                    },
                    "orders": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Order"
                        }
                    }
                },
                "type": "object"
            },
            "ApiErrorResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": false
                    },
                    "message": {
                        "type": "string",
                        "example": "الطلب غير موجود."
                    },
                    "example": {
                        "description": "مثال على الصيغة الصحيحة",
                        "type": "object",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "Product": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 12
                    },
                    "title": {
                        "type": "string",
                        "example": "عسل سدر"
                    },
                    "price": {
                        "type": "number",
                        "format": "float",
                        "example": 25
                    },
                    "discount_price": {
                        "type": "number",
                        "format": "float",
                        "example": 20,
                        "nullable": true
                    },
                    "is_available": {
                        "description": "متاح — true = متاح، false = غير متاح",
                        "type": "boolean",
                        "example": true
                    },
                    "description": {
                        "type": "string",
                        "example": "عسل سدر طبيعي"
                    },
                    "benefits": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "example": [
                            "يدعم المناعة"
                        ]
                    },
                    "diseases": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "example": [
                            "السكري"
                        ]
                    },
                    "usage_methods": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "example": [
                            "ملعقة صباحاً"
                        ]
                    },
                    "sizes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "example": [
                            "500جم"
                        ]
                    },
                    "cover_image": {
                        "type": "string",
                        "example": "products/cover.jpg",
                        "nullable": true
                    },
                    "cover_image_url": {
                        "type": "string",
                        "example": "https://app.taheelplus.com/storage/products/cover.jpg",
                        "nullable": true
                    },
                    "gallery_images": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "gallery_image_urls": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "primary_gallery_image": {
                        "type": "string",
                        "nullable": true
                    },
                    "primary_gallery_image_url": {
                        "type": "string",
                        "nullable": true
                    },
                    "promo_videos": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "ProductListResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Product"
                        }
                    }
                },
                "type": "object"
            },
            "ProductSearchResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "query": {
                        "type": "string",
                        "example": "سدر"
                    },
                    "count": {
                        "type": "integer",
                        "example": 2
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Product"
                        }
                    }
                },
                "type": "object"
            },
            "ProductSearchByDiseaseResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "disease": {
                        "type": "string",
                        "example": "السكري"
                    },
                    "count": {
                        "type": "integer",
                        "example": 3
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Product"
                        }
                    }
                },
                "type": "object"
            }
        }
    },
    "tags": [
        {
            "name": "Products",
            "description": "Products"
        },
        {
            "name": "Branches",
            "description": "Branches"
        },
        {
            "name": "Complaints",
            "description": "Complaints"
        },
        {
            "name": "Orders",
            "description": "Orders"
        },
        {
            "name": "AI Agent",
            "description": "AI Agent"
        },
        {
            "name": "FAQs",
            "description": "FAQs"
        },
        {
            "name": "Customers",
            "description": "Customers"
        },
        {
            "name": "WhatsApp",
            "description": "WhatsApp"
        }
    ]
}