{
    "openapi": "3.0.0",
    "info": {
        "title": "Mujeza API",
        "description": "API documentation for Mujeza products and related endpoints.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://app.taheelplus.com",
            "description": "Production API server"
        },
        {
            "url": "http://127.0.0.1:8000",
            "description": "Local development server"
        }
    ],
    "paths": {
        "/api/products": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Get products list",
                "description": "Returns all products in one response.",
                "operationId": "getProducts",
                "responses": {
                    "200": {
                        "description": "Products fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/products/search": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Search products by name",
                "description": "Searches products using product title or description (partial match).",
                "operationId": "searchProductsByName",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Product name to search for (optional if search is provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "سدر"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Alias for name query parameter",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "سدر"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Products search completed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "query": {
                                            "type": "string",
                                            "example": "سدر"
                                        },
                                        "count": {
                                            "type": "integer",
                                            "example": 2
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/products/search-by-disease": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Search recommended products by disease name",
                "description": "Returns available products that are recommended for a given disease. The search is partial and case-insensitive — sending \"سكر\" will match \"مرض السكري\" etc.",
                "operationId": "searchProductsByDisease",
                "parameters": [
                    {
                        "name": "disease",
                        "in": "query",
                        "description": "Disease name to search for (partial match)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "السكري"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Products fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "disease": {
                                            "type": "string",
                                            "example": "السكري"
                                        },
                                        "count": {
                                            "type": "integer",
                                            "example": 3
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "حقل disease مطلوب"
                    }
                }
            }
        },
        "/api/branches": {
            "get": {
                "tags": [
                    "Branches"
                ],
                "summary": "Get branches list",
                "description": "Returns all branches in one response.",
                "operationId": "getBranches",
                "responses": {
                    "200": {
                        "description": "Branches fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/complaints": {
            "get": {
                "tags": [
                    "Complaints"
                ],
                "summary": "Get complaints and inquiries list",
                "description": "Returns complaints list with optional text search in title, description, or phone.",
                "operationId": "getComplaints",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Search query (optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "تأخير الطلب"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Complaints fetched successfully"
                    }
                }
            },
            "post": {
                "tags": [
                    "Complaints"
                ],
                "summary": "Create complaint or inquiry",
                "operationId": "storeComplaint",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "description",
                                    "phone"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "استفسار عن المنتج"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "أريد معرفة طريقة الاستخدام المناسبة."
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "96550000000"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Complaint created successfully"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/complaints/{id}": {
            "get": {
                "tags": [
                    "Complaints"
                ],
                "summary": "Get a single complaint/inquiry",
                "operationId": "showComplaint",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Complaint fetched successfully"
                    }
                }
            },
            "put": {
                "tags": [
                    "Complaints"
                ],
                "summary": "Update complaint or inquiry",
                "operationId": "updateComplaint",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "description",
                                    "phone"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "شكوى عن تأخر الرد"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "لم يصلني رد حتى الآن."
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "96550000000"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Complaint updated successfully"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Complaints"
                ],
                "summary": "Delete complaint or inquiry",
                "operationId": "deleteComplaint",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Complaint deleted successfully"
                    }
                }
            }
        },
        "/api/orders": {
            "post": {
                "tags": [
                    "Orders"
                ],
                "summary": "Create order",
                "description": "Creates a new order. The items field must be a single text value describing requested products.",
                "operationId": "storeOrder",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "customer_name",
                                    "delivery_address",
                                    "items"
                                ],
                                "properties": {
                                    "customer_name": {
                                        "type": "string",
                                        "example": "محمد أحمد"
                                    },
                                    "delivery_address": {
                                        "type": "string",
                                        "example": "الكويت - حولي - شارع بيروت - قطعة 4 - منزل 12"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "96550000000"
                                    },
                                    "status": {
                                        "type": "string",
                                        "example": "قيد المعالجة"
                                    },
                                    "items": {
                                        "type": "string",
                                        "example": "عسل سدر 2 عبوة + عسل كشميري 1 عبوة"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Order created successfully"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/orders/status": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Get order status",
                "description": "Returns latest order status and all matching orders by order_number, customer_name, or phone. When searching by phone, cancelled (\"ملغي\") and delivered (\"تم التسليم\") orders are excluded by default — pass include_closed=1 to include them.",
                "operationId": "getOrderStatusByPhone",
                "parameters": [
                    {
                        "name": "order_number",
                        "in": "query",
                        "description": "Order number (preferred)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1024
                        }
                    },
                    {
                        "name": "customer_name",
                        "in": "query",
                        "description": "Customer name",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "محمد أحمد"
                        }
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "Customer phone number",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "96550000000"
                        }
                    },
                    {
                        "name": "include_closed",
                        "in": "query",
                        "description": "Set to 1 to include cancelled and delivered orders (only applies to phone search)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 0,
                            "enum": [
                                0,
                                1
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Order status fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "found": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "latest_status": {
                                            "type": "string",
                                            "example": "قيد المعالجة",
                                            "nullable": true
                                        },
                                        "count": {
                                            "type": "integer",
                                            "example": 2
                                        },
                                        "latest_order": {
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "orders": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/orders/by-phone": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Get active orders by phone number",
                "description": "Returns all orders for the given phone number, excluding cancelled (\"ملغي\") and delivered (\"تم التسليم\") orders.",
                "operationId": "getOrdersByPhone",
                "parameters": [
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "Customer phone number",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "96550000000"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Orders fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "phone": {
                                            "type": "string",
                                            "example": "96550000000"
                                        },
                                        "count": {
                                            "type": "integer",
                                            "example": 2
                                        },
                                        "orders": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "حقل phone مطلوب"
                    }
                }
            }
        },
        "/api/agent/prompts": {
            "get": {
                "tags": [
                    "AI Agent"
                ],
                "summary": "Get AI Agent prompts",
                "description": "Returns Positive Prompt and Negative Prompt saved in system settings.",
                "operationId": "getAgentPrompts",
                "responses": {
                    "200": {
                        "description": "Agent prompts fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "positive_prompt": {
                                                    "type": "string",
                                                    "example": "كن ودودًا وركز على احتياج العميل",
                                                    "nullable": true
                                                },
                                                "negative_prompt": {
                                                    "type": "string",
                                                    "example": "لا تقدم وعودًا غير واقعية",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/faqs": {
            "get": {
                "tags": [
                    "FAQs"
                ],
                "summary": "Get active FAQs list",
                "description": "Returns all active frequently asked questions ordered by sort_order.",
                "operationId": "getFaqs",
                "responses": {
                    "200": {
                        "description": "FAQs fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "question": {
                                                        "type": "string",
                                                        "example": "ما هي فوائد عسل السدر؟"
                                                    },
                                                    "answer": {
                                                        "type": "string",
                                                        "example": "عسل السدر غني بالمعادن والفيتامينات..."
                                                    },
                                                    "sort_order": {
                                                        "type": "integer",
                                                        "example": 0
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/faqs/text": {
            "get": {
                "tags": [
                    "FAQs"
                ],
                "summary": "Get all active FAQs as a single text block",
                "description": "Returns all active FAQs combined into one text string — questions and answers concatenated together, useful for AI agents and prompts.",
                "operationId": "getFaqsAsText",
                "responses": {
                    "200": {
                        "description": "FAQs text fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "string",
                                            "example": "س: ما هي فوائد عسل السدر؟\nج: عسل السدر غني بالمعادن والفيتامينات ويُقوّي جهاز المناعة.\n\nس: هل يمكن تناوله يومياً؟\nج: نعم، ملعقة كبيرة صباحاً على الريق."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/customers/check": {
            "get": {
                "tags": [
                    "Customers"
                ],
                "summary": "التحقق من تسجيل عميل بالهاتف أو remoteJid",
                "description": "يتحقق إذا كان العميل مسجلاً بـ phone أو remote_jid. يجب إرسال أحدهما على الأقل. إذا كان مسجلاً تُرجع بياناته مسطّحة، وإلا يُرجع registered: false.",
                "operationId": "checkCustomer",
                "parameters": [
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "رقم الهاتف (أو أرسل remote_jid)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "01012345678"
                        }
                    },
                    {
                        "name": "remote_jid",
                        "in": "query",
                        "description": "remoteJid (أو أرسل phone)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "96501012345@s.whatsapp.net"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "نتيجة التحقق",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "مسجل",
                                            "properties": {
                                                "registered": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": "01012345678"
                                                },
                                                "remote_jid": {
                                                    "type": "string",
                                                    "example": "96501012345@s.whatsapp.net",
                                                    "nullable": true
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "محمد أحمد"
                                                },
                                                "address": {
                                                    "type": "string",
                                                    "example": "القاهرة - مدينة نصر",
                                                    "nullable": true
                                                },
                                                "auto_reply": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "title": "غير مسجل",
                                            "properties": {
                                                "registered": {
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "هذا الرقم غير مسجل."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "يجب إرسال phone أو remote_jid"
                    }
                }
            }
        },
        "/api/customers/check-and-save": {
            "get": {
                "tags": [
                    "Customers"
                ],
                "summary": "تحقق وسجّل تلقائياً بالـ remoteJid",
                "description": "يبحث عن العميل بالـ remote_jid. إذا وُجد يُرجع بياناته (found: true). إذا لم يُوجد يُسجّله تلقائياً مستخدماً remote_jid كـ phone وكـ remote_jid معاً، ثم يُرجع بياناته (found: false, newly_created: true). مناسب لتسجيل العملاء عند أول رسالة واتساب.",
                "operationId": "checkAndSaveCustomer",
                "parameters": [
                    {
                        "name": "remote_jid",
                        "in": "query",
                        "description": "معرّف واتساب للعميل (remoteJid)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "96550000000@s.whatsapp.net"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "اسم العميل (اختياري — يُستخدم فقط عند الإنشاء)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "محمد أحمد"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "نتيجة التحقق والحفظ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "found": {
                                            "description": "true لو كان موجوداً مسبقاً، false لو تم إنشاؤه الآن",
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "newly_created": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "phone": {
                                            "type": "string",
                                            "example": "96550000000@s.whatsapp.net"
                                        },
                                        "remote_jid": {
                                            "type": "string",
                                            "example": "96550000000@s.whatsapp.net"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": ""
                                        },
                                        "address": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "auto_reply": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "حقل remote_jid مطلوب"
                    }
                }
            }
        },
        "/api/customers": {
            "get": {
                "tags": [
                    "Customers"
                ],
                "summary": "Get customers list",
                "description": "Returns all customers. Supports optional search by name, phone, address, or remoteJid.",
                "operationId": "getCustomers",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Search query (optional) — searches name, phone, address, remote_jid",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "محمد"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Customers fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "count": {
                                            "type": "integer",
                                            "example": 5
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "phone": {
                                                        "type": "string",
                                                        "example": "01012345678"
                                                    },
                                                    "remote_jid": {
                                                        "type": "string",
                                                        "example": "96501012345@s.whatsapp.net",
                                                        "nullable": true
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "محمد أحمد"
                                                    },
                                                    "address": {
                                                        "type": "string",
                                                        "example": "القاهرة - مدينة نصر"
                                                    },
                                                    "auto_reply": {
                                                        "type": "boolean",
                                                        "example": true
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2026-05-10T18:00:00Z"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2026-05-10T18:00:00Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Customers"
                ],
                "summary": "Create a new customer",
                "description": "The phone number is the primary key and cannot be changed after creation.",
                "operationId": "storeCustomer",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "phone",
                                    "name"
                                ],
                                "properties": {
                                    "phone": {
                                        "type": "string",
                                        "example": "01012345678"
                                    },
                                    "remote_jid": {
                                        "type": "string",
                                        "example": "96501012345@s.whatsapp.net",
                                        "nullable": true
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "محمد أحمد"
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "القاهرة - مدينة نصر",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Customer created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم إضافة المستخدم بنجاح."
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error — phone already exists or missing required fields"
                    }
                }
            }
        },
        "/api/customers/{phone}": {
            "get": {
                "tags": [
                    "Customers"
                ],
                "summary": "Get a single customer by phone number",
                "operationId": "showCustomer",
                "parameters": [
                    {
                        "name": "phone",
                        "in": "path",
                        "description": "Customer phone number (primary key)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "01012345678"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Customer fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "phone": {
                                                    "type": "string",
                                                    "example": "01012345678"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "محمد أحمد"
                                                },
                                                "address": {
                                                    "type": "string",
                                                    "example": "القاهرة - مدينة نصر"
                                                },
                                                "auto_reply": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Customer not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Customers"
                ],
                "summary": "Update customer data",
                "description": "The phone number cannot be changed. Name, address, and remoteJid can be updated.",
                "operationId": "updateCustomer",
                "parameters": [
                    {
                        "name": "phone",
                        "in": "path",
                        "description": "Customer phone number (primary key)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "01012345678"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "remote_jid": {
                                        "type": "string",
                                        "example": "96501012345@s.whatsapp.net",
                                        "nullable": true
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "محمد أحمد محدث"
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "الإسكندرية - سيدي بشر",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Customer updated successfully"
                    },
                    "404": {
                        "description": "Customer not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Customers"
                ],
                "summary": "Delete a customer",
                "operationId": "deleteCustomer",
                "parameters": [
                    {
                        "name": "phone",
                        "in": "path",
                        "description": "Customer phone number (primary key)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "01012345678"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Customer deleted successfully"
                    },
                    "404": {
                        "description": "Customer not found"
                    }
                }
            }
        },
        "/whatsapp/auto-reply/numbers": {
            "get": {
                "tags": [
                    "WhatsApp"
                ],
                "summary": "Get chats numbers with auto-reply state",
                "description": "Returns chats list (number/name) and whether auto-reply is allowed per chat, plus global toggle state.",
                "operationId": "whatsappAutoReplyNumbers",
                "responses": {
                    "200": {
                        "description": "Auto-reply numbers list fetched successfully"
                    },
                    "422": {
                        "description": "Evolution API is not configured"
                    }
                }
            }
        },
        "/whatsapp/auto-reply/number-status": {
            "get": {
                "tags": [
                    "WhatsApp"
                ],
                "summary": "Get auto-reply status for single chat/phone",
                "description": "Checks whether auto-reply is allowed for a specific chat_id or phone, considering global + override values.",
                "operationId": "whatsappAutoReplyNumberStatus",
                "parameters": [
                    {
                        "name": "chat_id",
                        "in": "query",
                        "description": "WhatsApp chat JID (optional if phone is provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "201011223344@s.whatsapp.net"
                        }
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "Phone number in local or international format (optional if chat_id is provided)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "201011223344"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Auto-reply status evaluated successfully"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/whatsapp/auto-reply/settings": {
            "get": {
                "tags": [
                    "WhatsApp"
                ],
                "summary": "Get global auto-reply setting",
                "operationId": "whatsappAutoReplySettings",
                "responses": {
                    "200": {
                        "description": "Global auto-reply setting fetched successfully"
                    }
                }
            }
        },
        "/whatsapp/auto-reply/global": {
            "post": {
                "tags": [
                    "WhatsApp"
                ],
                "summary": "Enable or disable global auto-reply",
                "operationId": "whatsappUpdateGlobalAutoReply",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "enabled"
                                ],
                                "properties": {
                                    "enabled": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Global auto-reply updated successfully"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/whatsapp/auto-reply/chat": {
            "post": {
                "tags": [
                    "WhatsApp"
                ],
                "summary": "Enable or disable auto-reply for specific chat",
                "operationId": "whatsappUpdateChatAutoReply",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "chat_id",
                                    "enabled"
                                ],
                                "properties": {
                                    "chat_id": {
                                        "type": "string",
                                        "example": "201011223344@s.whatsapp.net"
                                    },
                                    "enabled": {
                                        "type": "boolean",
                                        "example": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Per-chat auto-reply override updated successfully"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "Products",
            "description": "Products"
        },
        {
            "name": "Branches",
            "description": "Branches"
        },
        {
            "name": "Complaints",
            "description": "Complaints"
        },
        {
            "name": "Orders",
            "description": "Orders"
        },
        {
            "name": "AI Agent",
            "description": "AI Agent"
        },
        {
            "name": "FAQs",
            "description": "FAQs"
        },
        {
            "name": "Customers",
            "description": "Customers"
        },
        {
            "name": "WhatsApp",
            "description": "WhatsApp"
        }
    ]
}